
/* Global styles */
body
{
    margin: 0px;
    padding: 0px;
    background-color: #2639e9;
}

/* Main textarea */
#mainText
{
    position: absolute;
    top: 51px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    width: calc(100% - 9px);
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Lucida Console", Monaco, monospace;
}

#mainText:focus
{
    outline: none;
}

/* Titlebar */

#titlebar
{
    position: absolute;
    background-color: #2639e9;
    background-image: url("../img/titlebar/titlebar.png");
    background-repeat: repeat-x;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

#titlebarTitle
{
    position: absolute;
    display: inline-block;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 0.5px;
    color: #fff;
    left: 25px;
    top: 8px;
    text-shadow: 1px 1px #000;
}

#titlebarIcon
{
    position: absolute;
    top: 8px;
    left: 6px;
}

#titlebarClose
{
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

#titlebarMaximize
{
    position: absolute;
    top: 6px;
    right: 29px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

#titlebarMinimize
{
    position: absolute;
    top: 6px;
    right: 52px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

/* Menubar */

#menubar
{
    position: absolute;
    top: 31px;
    left: 5px;
    background-color: #ece9d8;
    height: 20px;
    width: calc(100% - 9px);
    font-size: 12px;
    font-weight: 100;
    box-sizing: border-box;
    -webkit-user-select: none;
}

.menubarItem
{
    padding: 2px 4px 2px 4px;
    color: #000;
    display: inline-block;
    cursor: pointer;
}

.menubarItem:hover
{
    color: #fefefe;
    background-color: #3068c2;
}


